# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/schedule-job.iml
/.gradle/
/build/
/LOG_PATH_IS_UNDEFINED/
